---
layout: default
title: Staff
---
  {% for author in site.authors %}
<!--
      <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
-->
      <h2 class="master">{{ author.name }}</a></h2>
      {% capture author_picture %} {{ author.picture }} {% endcapture %}
      {% capture author_position %} {{ author.position }} {% endcapture %}
      {% capture author_content %} {{ author.content }} {% endcapture %}
      {% include pic_box.html 
         picture  = author_picture 
         position = author_picture 
         content  = author_content 
      %}
<!--
      <table class="pic_box">
      <tr>
      <td class="pic_box"> 
         <img class="pic_box" src={{ author.picture }}>
      </td>
      <td class="pic_box">
          <h5 class="master">{{ author.position }}</h5>
          <div class="warning">{{ author.content  }}</div>
      </td>
      </tr>
      </table>
-->

   {% endfor%}
